<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>
      List of Session Notes
    </h1>
  </div>
  <table class="table">
    <tr>
      <th class="text-center">Session Name</th>
      <th class="text-center">Student</th>
      <th></th>
    </tr>
    <% @tsessions.each do |session| %>
    <tr class="text-center">
      <td><%= link_to session.session_name, tut_session_path(session)%></td>
      <td><%= link_to Student.find(session.student_id).name, student_path(session.student_id)%></td>
      <td>
        <span class="links"><%= link_to "Add Session", new_tut_session_path(:student_id => session.student_id)%>
          |
          <%= link_to "Delete Session", new_tut_session_path(:student_id => session.student_id)%></span>
      </td>
    </tr>
    <%end%>
  </table>
</div>
