<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="wrapper">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class:"navbar-brand" do %>
        <%= image_tag("http://placehold.it/15x15", :alt => "Brand")%>
        <span id="brand-name">Tutor-Notes</span>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <%= link_to "Students", students_path%>
          </li>
          <li>
            <a href="#">Sessions</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </div>
  <!-- /.container-fluid -->
</nav>
